<!DOCTYPE HTML>
<html>
<head>
    <title>Perfume Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/styles.css" type="text/css" rel="stylesheet">

<body>
<nav class = "navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Perfume Service</a>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                {{#userName}}
                <li class="nav-item">
                    <span class="nav-link active" id="user" aria-current="page">{{userName}}</span>
                    <a href="/logout" class="nav-link active" role="button">Logout</a>
                </li>
                {{/userName}}
                {{^userName}}
                <li class="nav-item">
                    <a href="/oauth2/authorization/google" class="nav-link active" aria-current="page" >로그인</a>
                </li>
                {{/userName}}
                <li class="nav-item">
                    <a href="/perfume/save" class="nav-link active" aria-current="page">향수 등록</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <form action="" method="GET">
                <input type="text" class = "form-control rounded-pill" placeholder="향수명 검색" aria-describedby="button-addon2">
            </form>
        </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Perfume Service</div>
    </div>
    </div>
</header>